<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexlet Flask</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <nav>
        <li><a href="{{ url_for("get_bottles")}}">99-bottles</a></li> 
        <li><a href="{{ url_for("args")}}?a=5&a=15&b=3&c=4&b=2">args</a></li> 
        <li><a href="{{ url_for("json_response")}}?a=5&a=15&b=3&c=4&b=2">json-response</a></li> 
        <li><a href="{{ url_for("error")}}">error</a></li> 
    </nav>
</body>
</html>